@mixin circleTransition {
  transition: 0.3s linear;
}

@mixin circleStyles {
  margin: 0 auto;
  display: block;
  position: relative;
  width: 220px;
  height: 220px;
  border-radius: 100%;
  @include circleTransition();
  z-index: 9;
}
@mixin circleTriangle {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 150px solid transparent;
  z-index: 999;
  position: relative;
  margin: 0 auto;
  z-index: 999;
}

@mixin circleIcon {
  max-width: 160px;
  z-index: 99;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@mixin sliderArrows {
  button.slick-next.slick-arrow {
    right: 5px;
    top: 160px;
    background-color: unset !important;
    &::before {
      color: $dark;
      content: "\003E";
      font-size: 50px;
    }
  }
  button.slick-prev.slick-arrow {
    left: 5px;
    top: 160px;
    background-color: unset !important;
    &::before {
      color: $dark;
      content: "\003C";
      font-size: 50px;
    }
  }
}
