@mixin circleTransition {
  transition: 0.3s linear;
}

@mixin circleStyles {
  margin: 0 auto;
  display: block;
  position: relative;
  width: 220px;
  height: 220px;
  border-radius: 100%;
  @include circleTransition();
  z-index: 9;
}
@mixin circleTriangle {
  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-top: 160px solid transparent;
  z-index: 999;
  position: relative;
  margin: 0 auto;
  z-index: 999;
}

@mixin circleIcon {
  max-width: 160px;
  z-index: 99;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
