html, body {
    background-color: $body-bg !important;
}

.full-screen {
    height: 100vh;
}

.jumbotron {
    border-radius: 0 !important;
}

header.site-header{
    background-color: $body-bg;
    min-height: 100px;
    padding: 20px 10px;
    border-bottom: 1px solid $grey !important;

    img.site-logo{
        height: 60px;
        width: auto;
    }

    .site-main-nav{
        ul {
            margin: 0;
            display: block;
            li {
                display: inline;
                a {
                    color: #33363a !important;
                    font-weight: bold;
                    text-decoration: none;
                }
            }
        }
        .nav-login{
            position: absolute;
            right: 80px;
        }
    }
}

footer.footer {
    padding: 30px 50px;
    background-color: $dark;
    p.copyright {
        font-weight: bold;
        color: $body-bg;
        margin: 0;
    }
}