/* Variables
* ===============
*
* All variables and most of the configuration is defined on this page. */

/*** Background color for `<body>`.*/
$body-bg: #ffffff;
$blue: #5197cb;
/*** Grey */
$grey: #787f81;
$light-blue: #e2ebf8;
$dark: #323439;
$black: #000000;
$purple: #733f9a;
$purple-thick: #733f9a;

$circle-blue: #5097ca;
$circle-green: #91c73e;
$circle-purple: #774d9e;

$triangle-blue: #77addc;
$triangle-green: #b1d476;
$triangle-purple: #9578b6;

$menu-active-purple: #6d138a;
$menu-active-blue: #5097cb;
$menu-active-green: #91c73e;

// Strategy Colors

$strategy-circle-blue: #5197cb;
$strategy-triangle-blue: #77addd;

$strategy-circle-green: #91c73e;
$strategy-triangle-green: #b1d476;

$strategy-circle-purple: #774d9f;
$strategy-triangle-purple: #9578b6;

$strategy_bg_blue: #8bbcea;
$strategy_accordion_title: #876197;

$card-cta: #7fcc0a;
