/* Variables
* ===============
*
* All variables and most of the configuration is defined on this page. */

/*** Background color for `<body>`.*/
$body-bg: #ffffff;
$blue: #5197CB;
/*** Grey */
$grey: #787f81;
$light-blue: #e2ebf8;
$dark: #323439;
$black: #000000;
$purple: #733F9A;
$purple-thick: #733F9A;

$circle-blue: #5097ca;
$circle-green: #91c73e;
$circle-purple: #774d9e;

$triangle-blue: #77addc;
$triangle-green: #b1d476;
$triangle-purple: #9578b6;

$menu-active-purple: #6d138a;
$menu-active-blue: #5097cb;
$menu-active-green: #91c73e;