.category-nav{
  border-bottom: 1px solid grey;
  ul{
    margin: 0 auto;
    text-align: center;
    margin: 20px 0;
    a{
      color: $dark;
      text-decoration: none;
      font-size: 14px;
      text-align: center;
      font-weight: 600;
      margin: 0 10px;
      &:hover{
        text-decoration: none;
        color: grey;
      }
      li{
        list-style: none;
        display: inline-block;
        text-align: center;
      }
    }
    a.nav-active{
      color: grey;
    }
  }
}

.blog-container{
  max-width: 90%;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 30px;
}

.blog-posts {
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 33.333%);
  @include media("<1100px"){
    grid-template-columns: repeat(2, 50%);
  }  
  @include media("<500px"){
    grid-template-columns: repeat(1, 100%);
  }
  margin: 0 auto;
  margin-top: 40px;
  border-right: 1px solid grey;
  padding: 0 30px;

  .blog-post {
    color: $dark;
    border-radius: 5px;
    padding: 0 20px 20px;
    font-size: 150%;
    a {
      color: $dark;
      text-decoration: none;
      &:hover {
        color: $dark;
        text-decoration: none;
      }
    }
    .blog-post-title {
      text-transform: none;
      margin: 10px 0;
      font-size: 25px;
      line-height: 1.2;
    }
    .blog-excerpt {
      font-size: 16px;
    }
    .blog-cat{
      margin-bottom: 0;
      margin-top: 20px;
      font-size: 16px;
      color: grey;
      font-weight: 700;
    }
  }
}

.blog-sidebar {
  margin-top: 40px;
  h6 {
    text-transform: none;
    margin: 10px 0;
  }
  .social {
    padding-top: 10px;
    ul {
      text-align: left;
      margin: 0 !important;
      li {
        display: inline;
        list-style: none;
        margin: 0;
        a {
          text-decoration: none !important;
        }
        i {
          font-size: 26px;
          color: $body-bg;
          background-color: $dark;
          padding: 5px 10px;
          border-radius: 4px;
        }
      }
    }
  }

  #header-widget-area{
    h2{
      font-size: 1.8rem;
      color: $dark;
    }

    .blog-sidebar-widget{
      border-bottom: 1px solid grey;
      &:last-child(){
        border-bottom: none;
      }
      ul{
        margin-left: 0;
        li{
          list-style: none;
          margin-left: 0;
          margin-bottom: 25px;
          a{
            color: $dark;
            text-decoration: none;
            font-weight: 500;
            &:hover{
              color: grey;
              text-decoration: none;
            }
          }
        }
      }
    }


    form.es_subscription_form{
      position: relative;
      input[type="email"]{
        background-color: lightgrey;
        border: 1px solid grey;
      }
      input[type="submit"]{
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        color: red;
        background: none;
        &::after{
          content: "\f105";
          color: black;
        }
      }
      button.btn{
        background: none !important;
        i{
          color: $dark;
        }
      }
      i.fa-angle-right{
        position: absolute;
        top: 10px;
        left: 94%;
        font-size: 30px;
        color: $dark;
      }
    }
  }
}

.ads{
  img.advertisements {
    width: 100%;
    margin-top: 30px;
  }
}
