
// Hero with normal height
.hero{
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
    min-height: 400px;
    background-color: $body-bg;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 80%;
    .page-title{
        color: $dark;
        letter-spacing: 1px;
    }
}

// Circle and triangle

