.home-page-content {
  background-color: $body-bg;

  .home-hero-banner {
    padding-left: 0 !important;
    padding-right: 0 !important;
    background-color: transparent;
    height: 90vh;
    background-position-y: -20vh;
    background-size: cover;
    background-repeat: no-repeat;
    .column {
      margin: 0 !important;
      padding: 0 !important;
    }
    .cloud-group {
      min-height: 200px;
      @include media("<1300px", ">1000px") {
        min-height: 120px;
      }
    }
    .cloud-group-one {
      width: 100%;
      position: absolute;
      left: 20%;
      -webkit-animation: movingcloudGroupOne 5s linear;
      -moz-animation: movingcloudGroupOne 5s linear;
      -o-animation: movingcloudGroupOne 5s linear;
      img {
        max-width: 380px;
        @include media("<1300px", ">1000px") {
          max-width: 200px !important;
        }
      }
      img.cloud_one {
        position: absolute;
      }
      img.cloud_two {
        position: absolute;
        left: 100px;
        top: 60px;
        @include media("<1300px", ">1000px") {
          left: 35px !important;
          top: 25px !important;
        }
      }
    }
    .cloud-group-two {
      width: 100%;
      position: absolute;
      right: 10%;
      -webkit-animation: movingcloudGroupTwo 5s linear;
      -moz-animation: movingcloudGroupTwo 5s linear;
      -o-animation: movingcloudGroupTwo 5s linear;
      img {
        max-width: 350px;
        @include media("<1300px", ">1000px") {
          max-width: 180px !important;
        }
      }
      img.cloud_one {
        position: absolute;
        right: 100px;
      }
      img.cloud_two {
        position: absolute;
        right: 100px;
        top: 60px;
        max-width: 300px;
        @include media("<1300px", ">1000px") {
          right: 100px;
          top: 20px;
        }
      }
    }
    .hero-text-container {
      max-width: 800px;
      position: relative;
      margin: 0 auto;
      text-align: center;
      h3 {
        font-size: 36px;
        color: $dark;
        margin: 0 0 60px 0;
        @include media(">1000px", "<1300px") {
          font-size: 25px;
        }
      }
    }
    .hero-house-container {
      position: relative;
      margin: 0 auto;
      .house-group-one {
        img.house {
          max-width: 220px;
          position: relative;
          margin: 0 auto;
          top: -120px;
          left: 50px;
          float: left;
          @include media(">1000px", "<1300px") {
            max-width: 160px;
            position: relative;
            margin: 0 auto;
            top: -90px;
            left: 25px;
          }
        }
        img.tree {
          float: right;
          max-width: 120px;
          @include media(">1000px", "<1300px") {
            max-width: 70px;
          }
          // animation: shake 6s;
          // animation-iteration-count: infinite;
          // transition: 10s linear;
        }
      }
      .house-group-two {
        img.house {
          max-width: 300px;
          position: relative;
          margin: 0 auto;
          top: 80px;
          @include media(">1000px", "<1300px") {
            max-width: 180px;
          }
        }
      }
      .house-group-three {
        img.house {
          max-width: 300px;
          position: relative;
          margin: 0 auto;
          float: right;
          top: -100px;
          right: 50px;
          @include media(">1000px", "<1300px") {
            max-width: 180px;
            position: relative;
            margin: 0 auto;
            float: right;
            top: -60px;
            right: 30px;
          }
        }
        img.tree {
          float: left;
          max-width: 100px;
          left: -50px;
          @include media(">1000px", "<1300px") {
            max-width: 70px;
            left: -20px;
          }
          position: absolute;
          // animation: shake 6s;
          // animation-iteration-count: infinite;
          // transition: 10s linear;
        }
      }
    }
  }

  .scroll-animation {
    position: relative;
    overflow: visible;
  }

  img.our-bird {
    width: 150px !important;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 999999;
  }

  // Data Analysis
  .data-analysis {
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
    background-color: $body-bg;

    .data-analysis-body {
      &__img {
        padding: 50px;
        img#bg-data-analysis {
          width: 80%;
          position: relative;
          display: block;
          margin: 0 auto;
          z-index: 9999;
        }
      }
    }
    .container-fluid {
      position: relative;
    }
  }

  // Asset Management

  .asset-management {
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
    background-color: $body-bg;
    .asset-management-body {
      &__img {
        padding: 50px;
        img#bg-asset-management {
          width: 80%;
          position: relative;
          display: block;
          margin: 0 auto;
        }
      }
    }
    .container-fluid {
      position: relative;
    }
  }

  // Knowledge

  .knowledge {
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
    background-color: $body-bg;
    .knowledge-body {
      &__img {
        padding: 50px;
        img#bg-knowledge {
          width: 75%;
          position: relative;
          display: block;
          margin: 0 auto;
          float: right;
        }
      }
    }
    .container-fluid {
      position: relative;
    }
  }

  // Start Your Journey

  .start-your-journey {
    background-color: $light-blue;
    padding: 90px 10px 80px 10px;
    margin-bottom: 0;
    h4 {
      margin: 0;
      text-align: center;
      margin-bottom: 50px;
    }
    p.label {
      text-align: center;
      padding-top: 40px;
      margin: 0 auto;
      max-width: 320px;
    }

    .circle-outlines {
      padding-bottom: 30px;
    }
    .arrow-down {
      @extend .d-hide;
      max-width: 100px;
      margin: 0 auto;
      position: relative;
      margin-top: 40px;
      i {
        position: absolute;
        text-align: center;
        font-size: 40px;
        left: 0;
        right: 0;
      }
    }
    .circle-container {
      position: relative;

      .circle {
        @include circleStyles();
        transform: rotate(135deg);
        &:hover {
          transform: rotate(225deg);
          @include circleTransition();
        }
      }
      .triangle {
        @include circleTriangle();
      }

      img.circle-icon {
        @include circleIcon();
        @include media("<770px") {
          max-width: 140px !important;
        }
      }
    }
    #circle-one-mobile {
      @include sliderArrows();
    }
    #circle-two-mobile {
      @include sliderArrows();
    }
    a.journey_cta {
      max-width: 350px;
      background-color: $dark;
      padding: 12px;
      text-align: center;
      position: relative;
      display: block;
      margin: 0 auto;
      color: $body-bg;
      text-decoration: none;
      border-radius: 10px;
      font-size: 20px;
      margin-top: 40px;
      letter-spacing: 1px;
    }
  }

  // Why Invest

  .why-invest {
    background-color: $dark;
    padding: 50px 10px 80px 10px;
    margin-bottom: 0;
    color: $body-bg;
    #why-invest-mobile {
      @include sliderArrows();
      .slick-arrow {
        top: 300px !important;
        &::before {
          color: $body-bg !important;
          font-size: 60px !important;
        }
      }
    }
    .arrow-down {
      @extend .d-hide;
      max-width: 100px;
      margin: 0 auto;
      position: relative;
      margin-top: 40px;
      i {
        position: absolute;
        text-align: center;
        font-size: 40px;
        left: 0;
        right: 0;
      }
    }
    .why-invest-block {
      margin: 0 auto;
      display: block;
      position: relative;
      text-align: center;
      img.why-invest-icon {
        position: relative;
        display: block;
        margin: 0 auto;
        height: 300px;
        @include media("<770px") {
          height: 240px !important;
        }
        width: auto;
        padding-top: 40px;
      }
      a.why-invest-cta {
        max-width: 200px;
        color: $body-bg;
        padding: 5px;
        text-align: center;
        position: relative;
        display: block;
        margin: 0 auto;
        border: 1px solid $body-bg;
        text-decoration: none;
        border-radius: 10px;
        font-size: 18px;
        margin-top: 60px;
        letter-spacing: 1px;
      }
    }
  }

  // Testimonials

  .testimonial-section {
    background-color: $body-bg;
    padding: 40px 40px 80px 40px;
    @include media("<770px") {
      padding: 20px 0;
    }
    margin-bottom: 0;
    color: $dark;
    .testimonial-block {
      padding: 50px;
      @include media("<770px") {
        padding: 20px;
      }
      max-width: 1600px;
      width: 100%;
      position: relative;
      display: block;
      margin: 0 auto;
      color: $black;
      img {
        max-width: 260px;
        @include media("<1000px") {
          margin: 0 auto;
          max-width: 240px;
          margin-bottom: 30px;
        }
        @include media("<500px"){
          max-width: 160px;
        }
      }
      .testimonial-text > p {
        font-size: 20px;
        text-align: center;
        @include media("<770px") {
          font-size: 18px;
          max-width: 450px;
          margin: 0 auto;
          text-align: center;
        }
        @include media("<500px") {
          font-size: 16px;
        }
      }

      .testimonial-text {
        img {
          @include media("<500px") {
            display: none;
          }
        }
        img.quote-one {
          position: relative;
          max-width: 100px;
          @include media("<770px") {
            float: left;
            top: -80px;
            max-width: 80px;
          }
        }
        img.quote-two {
          position: relative;
          float: right;
          max-width: 100px;
          @include media("<770px") {
            max-width: 80px;
          }
        }
      }

      // Slider
      @include sliderArrows();
      .slick-arrow {
        top: 300px !important;
        &::before {
          color: $dark !important;
          font-size: 60px !important;
        }
        @include media(">900px") {
          display: none !important;
        }
      }
    }
  }
}

// Styling the default Slick dots

.slick-dots {
  position: relative !important;
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 1rem 0;

  list-style-type: none;

  li {
    margin: 0 0.25rem;
  }

  li > button {
    display: block;
    width: 1rem;
    height: 1rem;
    padding: 0;

    border: none;
    border-radius: 100%;
    background-color: $dark !important;

    text-indent: -9999px;
  }

  li.slick-active button {
    background-color: $purple !important;
  }
}

.cloud {
  position: absolute;
  // background-image: url("./../images/cloud_1.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 250px;
  height: 150px;
  z-index: 99;
}

#cloud1 {
  top: 40px;
  right: 50px;
  -webkit-animation: movingcloud1 2s linear;
  -moz-animation: movingcloud1 2s linear;
  -o-animation: movingcloud1 2s linear;
}
#cloud2 {
  top: 200px;
  left: 50px;
  -webkit-animation: movingcloud2 2s linear;
  -moz-animation: movingcloud2 2s linear;
  -o-animation: movingcloud2 2s linear;
}

@keyframes movingcloud1 {
  0% {
    right: 0px;
  }
  100% {
    right: 50px;
  }
}
@-webkit-keyframes movingcloud1 {
  0% {
    right: 0px;
  }
  100% {
    right: 50px;
  }
}
@-moz-keyframes movingcloud1 {
  0% {
    right: 0px;
  }
  100% {
    right: 50px;
  }
}

@keyframes movingcloud2 {
  0% {
    left: 0px;
  }
  100% {
    left: 50px;
  }
}
@-webkit-keyframes movingcloud2 {
  0% {
    left: 0px;
  }
  100% {
    left: 50px;
  }
}
@-moz-keyframes movingcloud2 {
  0% {
    left: 0px;
  }
  100% {
    left: 50px;
  }
}

/* Circles on the First Block */
#circle-home-1 {
  .circle {
    transform: rotate(-100deg);
  }
  .circle:hover,
  img.circle-icon:hover ~ .circle {
    cursor: auto;
    transform: rotate(80deg);
    @include circleTransition();
  }
}
#circle-home-2 {
  .circle {
    transform: rotate(30deg);
  }
  .circle:hover,
  img.circle-icon:hover ~ .circle {
    cursor: auto;
    transform: rotate(210deg);
    @include circleTransition();
  }
}
#circle-home-3 {
  .circle {
    transform: rotate(140deg);
  }
  .circle:hover,
  img.circle-icon:hover ~ .circle {
    cursor: auto;
    transform: rotate(280deg);
    @include circleTransition();
  }
}
