.services {
  margin: 0 !important;
  padding: 0 !important;
  .sidenav {
    padding: 0 !important;
    .sidemenu {
      height: 33.33333333%;
      width: 80px !important;
      margin: 0;
      padding: 0;
      position: relative;
      left: 0;
      background-color: $dark;
      color: $body-bg;
      cursor: pointer;
      &:hover{
          background-color: $purple;
          color: $body-bg;
      }
      p.menu-text {
        transform: rotate(-90deg);
        margin: 0;
        position: absolute;
        font-size: 18px;
      }
    }
    .active {
      background-color: $purple-thick;
    }
  }
  .sidenav,
  .service-body {
    background-color: $body-bg;
    
  }
}
