.services {
  margin: 0 !important;
  padding: 0 !important;
  .sidenav {
    padding: 0 !important;
    .sidemenu {
      height: 33.33333333%;
      width: 80px !important;
      margin: 0;
      padding: 0;
      position: relative;
      left: 0;
      background-color: $dark;
      color: $body-bg;
      cursor: pointer;
      &:hover {
        opacity: 0.5;
        color: $body-bg;
      }
      p.menu-text {
        transform: rotate(-90deg);
        margin: 0;
        position: absolute;
        font-size: 16px;
        font-weight: bold;
      }
    }
    .seminar-active {
      background-color: $menu-active-blue;
    }
    .investor-active {
      background-color: $menu-active-purple;
    }
    .builder-active {
      background-color: $menu-active-green;
    }
  }
  .sidenav {
    background-color: $body-bg;
  }
  .service-body {
    background-color: $body-bg;
    min-height: 100vh !important;
    height: 100% !important;
  }
}

.services {
  .item {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
    position: relative;
    display: block;
    height: 33.33333%;
    @extend .d-flex;
    h3 {
      @extend .justify-content-center;
      @extend .align-self-center;
      color: $body-bg;
      margin: 0 auto;
    }
  }
  .investors {
    background-color: $purple;
  }
  .builders {
    background-color: $circle-green;
  }
  .seminars {
    background-color: $blue;
  }
}
