.services {
  &__investors {
    margin-bottom: 0 !important;

    .investor-carousel {
      height: 100%;
      width: 90%;

      .slick-prev {
        background-color: transparent;
      }

      .investor-carousel-inner1 {
        h3 {
          color: $purple-thick;
          margin: 0 !important;
          margin-bottom: 30px !important;
          font-size: 35px;
        }
        padding-top: 50px;
        .column {
          h5 {
            text-align: center;
            color: $dark;
          }
          img {
            height: 150px;
            position: relative;
            display: block;
            margin: 0 auto;
          }
          p {
            margin: 0 auto;
            margin-top: 30px;
            text-align: center;
            max-width: 250px;
            line-height: 1.2;
          }
        }
        .cta {
          a {
            @include buttonCTA();
          }
        }
      }

      .investor-carousel-inner2 {
        h3 {
          color: $purple-thick;
          margin: 0 !important;
          margin-bottom: 20px !important;
          margin-top: 20px !important;
          font-size: 35px;
        }
        padding-top: 20px;
        .row {
          margin-bottom: 20px;
        }
        .column {
          padding: 30px;
          h5 {
            text-align: center;
            color: $dark;
          }
          img {
            max-width: 80px;
            width: 100%;
            position: relative;
            display: block;
            margin: 0 auto;
          }
          p {
            margin: 0 auto;
            margin-top: 20px;
            text-align: center;
            max-width: 250px;
            line-height: 1.2;
            em{
              font-weight: 600;
              font-style: unset;
            }
          }
        }
        .cta {
          a {
            @include buttonCTA();
          }
        }
      }
    }
  }
}

.menu-investor {
  background-color: $purple;
}

.services-mobile-inner {
  a.menu {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
    @extend .d-flex;
    height: 50px;
    h5 {
      @extend .justify-content-center;
      @extend .align-self-center;
      color: $body-bg;
      margin: 0 auto;
    }
  }
  .content-one {
    h3 {
      color: $purple;
    }
    .cta {
      max-width: 300px;
      margin: 0 auto;
      a {
        @include buttonCTA();
        background-color: $blue;
        margin-bottom: 30px;
      }
    }
    .column {
      border-bottom: 1px solid $dark;
      &:nth-child(4) {
        border: 0;
      }
      h5,
      p {
        text-align: center;
      }
      p {
        margin-top: 30px;
        margin-bottom: 30px;
      }
      img {
        margin: 0 auto;
        @include media("<500px") {
          max-width: 220px;
        }
      }
    }
  }
  .content-two {
    h3 {
      color: $purple;
    }
    .cta {
      max-width: 300px;
      margin: 0 auto;
      a {
        @include buttonCTA();
        background-color: $blue;
        margin-bottom: 30px;
      }
    }
    .column {
      padding: 20px;
      border-bottom: 1px solid $dark;
      h5,
      p {
        text-align: center;
      }
      p {
        margin-top: 30px;
        margin-bottom: 30px;
      }
      img {
        margin: 0 auto;
        @include media("<500px") {
          max-width: 160px;
        }
      }
    }
  }
}
