.hero-team{
    background-size: cover !important;
    min-height: 500px;
    .page-title{
        margin-top: 0;
        padding-top: 150px;
    }
}

.team-members{
    margin-bottom: 0rem;
    background-color: $body-bg;

    .team-member{
        padding-bottom: 40px;
        padding-top: 40px;
        @include media("<770px"){
            border-bottom: 1px solid $dark;
        }
        h5.name{
            margin: 0;
        }
        img.team-member-img{
            margin: 0 auto;
            @include media("<770px"){
                margin-bottom: 30px;
            }
        }
        img.partner-logo{
            max-width: 200px;
            max-width: 140px;
            position: relative;
            margin: 0 auto;
        }
        p.text{
            @include media("<767px"){
                font-size: 16px;
            }
        }
    }
    .team-member-no-border{
        border-bottom: none;
    }
    .partner{
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }
    // hr{
    //     margin: 0 !important;
    //     border-bottom: 1px solid $dark;
    // }
}

